doctype
html
    head

    body(ng-app='dsc')
      h1 Teste APP

      script(src = '/componentes/angular/angular.min.js')
      script(src = '/componentes/angular-ui-router/release/angular-ui-router.min.js')
      script(src = '/base/app.js')